body{
    background-color: #d5d7bb;
}

nav{
    background-color: WHITE;
    font-weight: bold;

}

.title{
    font-weight: normal;
    font-style: italic;
    margin-left: 20px;
}

.return{

    width:500px;
    display: block;
    padding: 50px 50px 28px 50px;
    margin: 100px auto;
    background-color: white;
}
.link{
    font-size: 18px;
    text-align: left;
}

.success{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;

}